body {
    background-color: #efd9ce;
}



nav { list-style-type: none;
    margin: 0px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
}

p2 { 
    font-size: 20px;
    


}
p3 {
    font-size: 15px;
}

.Republican {
    color: red;
}

.Democrat { 
    color:blue;
}